.textTotalBox {
  text-align: center;
  width: 320px;
  margin-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}
.contactListBox {
  padding: 1%;
  max-width: 80vw;
}
.contactList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.listTitle {
  text-align: center;
  margin-bottom: 15px;
}
.listItems {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.textFound,
.textNotContactTotal {
  font-size: 12px;
  color: red;
}
.textNotContact {
  font-size: 12px;
  color: red;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
